<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/styles.css">
</head>

<body>
    <nav>
        <a href="../../index.html">Home</a>
        <a href="../Activities.html">Activities</a>
    </nav>
    <div class="activity-main-content">
        <h1 class="title">Activity #</h1>
        <h2 class="subtitle">Objective:</h2>
        <h2 class="subtitle">Specific objectives:</h2>
        <h2 class="subtitle">Activity description:</h2>
        <h2 class="subtitle">Steps and evidence:</h2>
        <h2 class="subtitle">Conclusion:</h2>
    </div>

</body>

</html>